<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to "DogTag", root_path, class: "navbar-brand", style: "font-size:30px;margin-left:10px;" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Home",  root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Breeds",  root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dogs",  root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Owners",  root_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
  </div>
  </nav>
</header>