<tr>
  <th scope="row"><%= ((params[:page].to_i-(params[:page].to_i > 1 ? 1 : 0)) * 25) + dog_counter + 1 %></th>
  <td>
    <% if dog.image.present? %>
        <%= image_tag dog.image.variant(resize_to_limit: [105, 105]).processed, alt: "#{dog.name}"  %>
    <% end %>
  </td>
  <td><%= dog.name %></td>
  <td><%= dog.age %></td>
  <td><%= dog.gender %></td>
  <td>
    <%= button_to dog, method: :get, class: "btn btn-primary" do %>
      View Dog
    <% end %>
  </td>
</tr>