<div class="container">
  <div class="row row-cols-3">
    <div class="col-5">
      <% if @dog.image.present? %>
          <%= image_tag @dog.image.variant(resize_to_limit: [505, 505]).processed, alt: "#{@dog.name}"  %>
      <% end %>
    </div>
    <div class="col-6">
      <h2><%= @dog.name.capitalize %></h2>
      <p><strong>Age:</strong> <%= @dog.age %></p>
      <p><strong>Gender:</strong> <%= @dog.gender %></p>
      <p><strong>Size:</strong> <%= @dog.size %></p>
      <p><strong>Owner:</strong> <%= link_to @dog.owner.name, @dog.owner %></p>
      <p><strong>Breed: </strong>
        <% @dog.breed_dogs.each.with_index do |breed_dog, index| %>
          <%= link_to breed_dog.breed.title, breed_dog.breed %>
          <%= @dog.breed_dogs.count-1 != index ? ", " : "" %>
        <% end %>
      </p>

    </div>
    <div  class="col mt-5">
      <h3><strong>Likes:</strong> <%= @dog.likes %></h3>
      <%= button_to "/dog/upvote/#{@dog.id}", method: :post, class: "btn btn-primary d-inline-block" do %>
        <i class="bi bi-hand-thumbs-up-fill"></i>
      <% end %>
    </div>
  </div>
</div>